/*nav ul {
  display: block;
}*/

article img {
  border-style: double;
  border-color: pink;
  border-radius: 10px;
  border-width: thick;
  float: left;
}

.description{
  /*margin-left: 50px;*/
  /*float: none;*/
  /*border-style: dotted;*/
  /*border-color: red;*/
  /*border-width: medium;*/
  clear: left;
}
