
header{
  text-align: center;
  border: 3px; /*the box around the header*/
  /*border-style: dotted;*/
  border-style: groove;
  color: red; /* of the font */
  font-family: "Schoolbell";
  background-color: lightblue;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Schoolbell";
  background-color: lightyellow;
  float: none;
  /*display: inline;*/
}

nav img {
  height:200px;
}

nav{
  background-color: red;
  clear: right;
  text-align: center;
  /*float: left; took it away from its own line*/
  /*margin: 5px 15px 15px 15px;*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  list-style: none;  removes bullets on lists
  display: inline;
  float: none;
  /*border-right: 1px solid #bbb;*/
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /*text-decoration doesn't allow underlining for websites already visited*/
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: lightblue;
    color: white;
}

/*h2 ul {
  display: inline;did nothing
}*/

a:hover {
  color: yellow;
}

footer{
  background-color: lightblue;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: red;
  font-style: italic;
  font-family: "Schoolbell";
}
